/limine
/ovmf
*.iso
*.hdd
*.log
target/
out/
sata-disk.img
nvme-disk.img
live-root.img
install-test.img
fs-regression.img
fresh.img
/filesystem
.gdb_history
__pycache__/
run_log.txt
usb-test.img
journal-test.img
/logs/
/pkgstage
release/
nvme-blank.img
/doc/reference/
